{% extends 'main.html' %}
{% load static %}

{% block content %}
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Our mission is to gather the most attractive posts for you.</h1>
                        <p class="lead fw-normal text-muted mb-4">We evaluate statistics of post's viewing and show a
                            set
                            of selected posts in website parts. Also, you can add your desired posts after logging
                            in.</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="{% static 'assets/Reference.jpg' %}" alt="..."/></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our References</h2>
                    <p class="lead fw-normal text-muted mb-0">Until this moment, we have written 3 main spiders to get
                        the newest news from EuroNews website and we will develop lots of new spiders to crawl data from
                        other websites.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                                                                     src="{% static 'assets/growth.jpg' %}"
                                                                     alt="..."/></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Growth &amp; beyond</h2>
                    <p class="lead fw-normal text-muted mb-0">We are working in methods of MachineLearning to reach
                        the highest satisfaction and better experience for clients. And consider that the more users we
                        have, the more precision we will have to show more relevant posts!</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}